.fila{
    display: flex;
    height: 100%;
}
.board{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 60, 60);
    width: 50vw;
    height: 50vw;
    max-width: 500px;
    max-height: 500px;
}
.square{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square.white{
    background-color: #f6f6f6;
}
.square.black{
    background-color: #5384ac;
}
.square.activeSquare{
    background-color: #a4dbee;
}
span img {
    cursor: pointer;
    height: 95%;
    width: 95%;
    max-width: 45px;
    max-height: 45px;
}
@media (max-width: 600px) {
    .board {
      width: 100vw;
      height: 100vw;
    }
    span img {
        width: 90%;
        height: 90%;
    }
  }
