.fila{
    display: flex;
    height: 100%;
}
.board{
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 60, 60);
    width: 80vw;
    height: 80vw;
    max-width: 480px;
    max-height: 480px;
}
.square{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square.white{
    background-color: #e9edcc;
}
.square.black{
    background-color: #5384ac;
}
.square.activeSquare{
    background-color: #a4dbee;
}
span img {
    cursor: pointer;
    height: 10vw;
    width: 10vw;
    max-width: 45px;
    max-height: 45px;
}
@media (max-width: 600px) {
    .board {
      width: 70vw;
      height: 70vw;
    }
    span img {
        width: 70%;
        height: 70%;
    }
  }
